svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
    x='0px', y='0px',
    width='12px',
    height='12px',
    viewbox='0 0 100 100',
    xml:space='preserve',
    style='fill: currentColor;'
)
    g
        path(d='M96.619,19.697L66.32,50l30.299,30.301c4.507,4.509,4.507,11.813,0,16.32C94.367,98.873,91.415,100,88.465,100\
            c-2.956,0-5.909-1.125-8.159-3.379L50,66.316L19.697,96.621C17.445,98.873,14.492,100,11.539,100c-2.953,0-5.903-1.125-8.157-3.379\
            c-4.507-4.507-4.507-11.811,0-16.32L33.68,49.999L3.38,19.697c-4.507-4.507-4.507-11.812,0-16.319\
            c4.506-4.503,11.807-4.503,16.314,0L50,33.68L80.303,3.378c4.508-4.503,11.81-4.503,16.315,0\
            C101.126,7.885,101.126,15.19,96.619,19.697z')