div(layout='row')
    h4(flex=15) On

    md-menu
        md-button.md-hue-2(
            aria-label='Open demo menu',
            ng-click='$mdOpenMenu($event)'
            ng-bind='msgWeekDays.btnTitle()'
        )
        md-menu-content(style='max-height:450px!important', width='2').md-padding
            md-menu-item(ng-repeat='day in msgWeekDays.weekDays',style='font-size:80%!important')
                md-checkbox(
                title='{{day.title}}',
                ng-checked='day.selected',
                ng-click='toggleConditions(day)'
                )
                    label(ng-bind='day.label')
    div(flex)
    md-button.md-warn(aria-label='remove item', ng-click='') x