md-tabs(flex, layout="column")
    md-tab( ng-repeat="filter in filters" )
        md-tab-label
            |  {{filter.getName()}}
            small(style="margin-left: 4px;")
                | (
                b {{filter.getCount()}}
                | )

        .cards-list(layout="row", layout-wrap)
            div(
                ng-repeat="device in devices | listFilter:filter",
                device="device",
                flex-sm="100",
                flex-md="50",
                flex-lg="33",
                flex-gt-lg="25"
            )

div( ng-if="devices.length == 0" ) {{"There is no devices"|translate}}