td
    span and
td
    h4(ng-bind='condition.label')
td
    md-menu
        md-button.md-hue-2(
            aria-label='Open demo menu',
            ng-click='$mdOpenMenu($event)',
            ng-bind='msgClass.btnTitle()'
        )
        md-menu-content.md-padding(width='2')
            md-menu-item(ng-repeat='class in msgClass.classes')
                md-checkbox.md-hue-3(
                    aria-label='message class',
                    title='{{class.title}}',
                    ng-checked='class.selected',
                    ng-click='toggleConditions(class,"MessageClass")'
                )
                    label(ng-bind='class.label')
td
    md-button.delete-btn.md-warn(aria-label='remove item', ng-click='toggleConditionsSwitch(conditions[2])')
        include ../../../assets/icons/svg/delete
